{% if social_login %}
	<script type="text/javascript">
		if (window.location.hash) {
			let hash = window.location.hash.substr(1);

			let result = hash.split('&').reduce(function (result, item) {
				let parts = item.split('=');
				result[parts[0]] = parts[1];
				return result;
			}, {});
			if (result.access_token !== undefined) {
				window.location = "{{ facebook_handler }}&acces_token=" + result.access_token;
			}
		}
	</script>

	<div id="loginModal" class="modal fade hpasl-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					{# <button type="button" class="close" data-dismiss="modal">&times;</button> #}
					<button type="button" class="button pull-right hpasl-buttons" style="margin-right:10px" onclick="$('#loginModal').modal('hide');$('#registerModal').modal('show')">
						 <i class="fa fa-user-plus"></i>  &nbsp; {{ text_register }}
					</button>
					<h3 class="modal-title">{{ text_login }}</h3>
					<div class="clearfix"></div>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="loginForm" action="{{ action }}" method="post" enctype="multipart/form-data">
						<div style="display:none" class="alert alert-danger"></div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa-envelope-o"></i>
									<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_phone_email }}" required class="form-control"/>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa fa-lock"></i>
									<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" required class="form-control"/>
								</label>
							</div>
						</div>
						{% if captcha_status %}
						<div class="form-group required">
							<div class="col-sm-12">
								<div class="g-recaptcha" data-sitekey="{{ google_sitekey }}"></div>
							</div>
						</div>
						{% endif %}
						<div class="text-center mt-2">
							<button class="hpasl-buttons" type="submit"><i class="fa fa-sign-in"></i> &nbsp; {{ button_login }}</button>
							<button style="display:none" class="btn btn-primary loading-form">
								<i class="fa fa-circle-o-notch fa-spin"></i>
							</button>
							{% if redirect %}
								<input type="hidden" name="redirect" value="{{ redirect }}"/>
							{% endif %}
						</div>

					</form>
				</div>
				<div class="modal-footer">
					{% if facebook_login or google_login %}
						<div class="text-center mt-2 login-hpasl-buttons" id="hp_sociallogin">
							<p>{{ text_social_login }}</p>
							{% if facebook_login %}
								<a href="{{ facebook }}" class="btn btn-social-icon button btn-sm btn-facebook">
									<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
									<span>
										FACEBOOK
									</span>
								</a>
							{% endif %}

							{% if google_login %}
								<a href="{{ google }}" class="btn btn-social-icon button btn-sm btn-google-plus">
									<i class="fa fa-google fa-fw" aria-hidden="true"></i>
									<span>GOOGLE</span>
								</a>
							{% endif %}
						</div>
					{% endif %}
					<div class="options text-center text-md-right mt-1">
						<p>{{ text_not_member }}
							<a href="#registerModal" data-toggle="modal" data-dismiss="modal" class="blue-text">{{ text_register }}</a>
						</p>
						<p>{{ forgotten }}</p>
					</div>

					<button type="button" class="button hpasl-buttons" data-dismiss="modal"><i class="fa fa-sign-out"></i>  &nbsp; {{ text_close }} </button>
				</div>
			</div>

		</div>
	</div>

	<div id="registerModal" class="modal fade hpasl-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div
					class="modal-header">
					{# <button type="button" class="close" data-dismiss="modal">&times;</button> #}
					<button type="button" class="button pull-right hpasl-buttons" style="margin-right:10px" onclick="$('#loginModal').modal('show');$('#registerModal').modal('hide')">
						<i class="fa fa-sign-in"></i>  &nbsp; {{ text_login }}
					</button>
					<h3 class="modal-title">{{ text_register }}</h3>
					<div class="clearfix"></div>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="registerForm" action="{{ register }}" method="post" enctype="multipart/form-data">
						<div style="display:none" class="alert alert-danger"></div>
						<div class="form-group required">
							<div class="col-sm-6">
								<label class="item">
									<i class="icon fa fa-user-circle-o"></i>
									<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
								</label>
							</div>
							<div class="col-sm-6">
								<label class="item">
									<i class="icon fa fa-user-circle-o"></i>
									<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa-envelope-o"></i>
									<input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-6">
								<label class="item">
									<i class="icon fa fa-lock"></i>
									<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="register-input-password" class="form-control"/>
								</label>
							</div>
							<div class="col-sm-6">
								<label class="item">
									<i class="icon fa fa-lock"></i>
									<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" class="form-control"/>
								</label>
							</div>
						</div>
						{% if captcha_status %}
						<div class="form-group required">
							<div class="col-sm-12">
								<div class="g-recaptcha" data-sitekey="{{ google_sitekey }}"></div>
							</div>
						</div>
						{% endif %}
						<div class="hpasl-buttons">
							<div class="text-center">
								<button type="submit" class="btn btn-primary hpasl-buttons"><i class="fa fa-user-plus"></i>&nbsp; {{ text_register }}</button>
								<button style="display:none" class="btn btn-primary loading-form">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">

					{% if facebook_login or google_login or sms_login %}
							<div class="text-center mt-2 login-hpasl-buttons" id="hp_sociallogin">
							<p>{{ text_social_login }}</p>
							{% if facebook_login %}
								<a href="{{ facebook }}" class="btn btn-social-icon button btn-sm btn-facebook">
									<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
									<span>
										FACEBOOK
									</span>
								</a>
							{% endif %}

							{% if google_login %}
								<a href="{{ google }}" class="btn btn-social-icon button btn-sm btn-google-plus">
									<i class="fa fa-google fa-fw" aria-hidden="true"></i>
									<span>GOOGLE</span>
								</a>
							{% endif %}
							{% if sms_login %}
						<button type="button" class="btn btn-primary button hpasl-buttons" style="color:white" onclick="$('#registerModal').modal('hide');$('#registerSms').modal('show')">{{ text_sms }}</button>
						{% endif %}
					</div>
					{% endif %}

					<div class="options text-center text-md-right mt-1">
						<p>{{ text_member }}
							<a href="#loginModal" data-toggle="modal" data-dismiss="modal" class="blue-text">{{ text_login }}</a>
						</p>
					</div>

					<button type="button" class="button hpasl-buttons" data-dismiss="modal"><i class="fa fa-sign-out"></i>  &nbsp;  {{ text_close }}</button>
				</div>
			</div>

		</div>
	</div>

	<div id="registerSms" class="modal fade hpasl-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="button pull-right hpasl-buttons" onclick="$('#registerModal').modal('show');$('#registerSms').modal('hide')">
						{{ entry_email }}&nbsp;<i class="fa fa-user-plus"></i>
					</button>
					<h3 class="modal-title">{{ text_login }}</h3>
					<div class="clearfix"></div>
				</div>
				<div class="modal-body">
					<form action="{{ registerSMS }}" id="registerSMSForm" method="post" class="form-horizontal" enctype="multipart/form-data">
						<div style="display:none" class="alert alert-danger"></div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<div class="input-group">
										<i class="icon fa fa-mobile"></i>
										<input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
										<span class="input-group-btn">
											<button id="send-code" onclick="sendVericationCode()" class="btn button" style="line-height: 1.228571" type="button">{{ text_send_verification }}</button>
										</span>
									</div>
								</label>
							</div>
						</div>
						<div class="form-group required" id="input-verification">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa-commenting-o"></i>
									<input onchange="checkCode()" type="number" placeholder="{{ entry_verification }}" id="verification-code" class="form-control"/>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa-key"></i>
									<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="item">
									<i class="icon fa fa-key"></i>
									<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
								</label>
							</div>
						</div>
						{% if captcha_status %}
						<div class="form-group required">
							<div class="col-sm-12">
								<div class="g-recaptcha" data-sitekey="{{ google_sitekey }}"></div>
							</div>
						</div>
						{% endif %}

						<div class="hpasl-buttons">
							<div class="text-center">
								<button class="btn btn-primary hpasl-buttons" id="smsRegisterButton" type="submit">
									{{ text_register }}&nbsp;<i class="fa fa-user-plus"></i>
								</button>
								<button style="display:none" class="btn btn-primary loading-form">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</button>
							</div>
						</div>
					</form>
					<script>
						$(document).ready(() => {
							$("#smsRegisterButton").attr('disabled', true);
						});

						function sendVericationCode() {
							$('#error-code').remove();

							let phoneNumber = $("#input-telephone").val();
							let url = "index.php?route=extension/module/phone_verification/sendVerificationCode&phone=" + phoneNumber;
							let error = '<div id="error-code" class="text-danger">  {{ error_phone_number }}</div>'
							let btnLabel = $("#send-code").html();

							if (phoneNumber == '') {
								$("#input-telephone").parent().after(error);
							} else {
								$("#send-code").button('loading');
								$('#error-code').remove();
							}

								fetch(url).then(res => res.json()).then(json => {
									if (json) {
										let countdown = 15;
										let timeRemaining = countdown;

										let interval = setInterval(() => {
										$("#send-code").addClass('btn-danger');
											$("#send-code").html(btnLabel + "(" + (timeRemaining--) + "s)")
										}, 1000)

										setTimeout(() => {
											clearInterval(interval);
											$("#send-code").button('reset');
											$("#send-code").removeClass('btn-danger');
										}, countdown * 1000)

									} else{
										$("#send-code").button('reset');
									}
								}).catch(err => {
									$("#send-code").button('reset');
								})
						}

						function checkCode() {

							$("#verification-code").parent().find('.text-danger').remove();

							let phoneNumber = $("#input-telephone").val();
							let code = $("#verification-code").val();
							let url = "index.php?route=extension/module/phone_verification/checkVerificationCode&phone=" + phoneNumber + "&code=" + code;
							let error = '<div id="error-code" class="text-danger"> {{ error_code }}</div>'
							let success = '<div id="success-code" class="text-success"> {{ success_code }}</div>'

							if (code.length < 4) {
								$("#verification-code").parent().append(error);
								$("#smsRegisterButton").attr('disabled', true);
								return;
							}

							fetch(url).then(res => res.json()).then(json => {
								if (json) {
									$("#smsRegisterButton").attr('disabled', false);
								} else {
									$("#verification-code").parent().append(error);
									$("#smsRegisterButton").attr('disabled', true);
								}
							}).catch(err => {
								$("#smsRegisterButton").attr('disabled', true);
							});
						}
					</script>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					{% if facebook_login or google_login %}
						<div class="text-center mt-2 login-hpasl-buttons" id="hp_sociallogin">
							<p>{{ text_social_login }}</p>
							{% if facebook_login %}
								<a href="{{ facebook }}" class="btn btn-social-icon button btn-sm btn-facebook">
									<i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
									<span>
										FACEBOOK
									</span>
								</a>
							{% endif %}

							{% if google_login %}
								<a href="{{ google }}" class="btn btn-social-icon button btn-sm btn-google-plus">
									<i class="fa fa-google fa-fw" aria-hidden="true"></i>
									<span>GOOGLE</span>
								</a>
							{% endif %}
						</div>
					{% endif %}
					<button type="button" class="button hpasl-buttons" data-dismiss="modal">{{ text_close }} &nbsp; <i class="fa fa-sign-out"></i></button>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript">

		function openLoginModal() {
			$('#loginModal').modal('show');
			$('#registerModal').modal('hide');
		}
		function openRegisterModal() {
			$('#loginModal').modal('hide');
			$('#registerModal').modal('show');
		}

		$("#loginModal").on('hide.bs.modal', function () {
			$(".form-group div.text-danger").hide()

		});

		$("#registerModal").on('hide.bs.modal', function () {
			$(".form-group div.text-danger").hide()

		});

		$("#registerSms").on('hide.bs.modal', function () {
			$(".form-group div.text-danger").hide()

		});

		$(document).ready(() => {

			if (typeof preventHPASLRedirect === "undefined") {
				createCookie("hpasl_redirect", window.location.href, 1);
			}

			$("#loginForm").validate({
				rules: {
					email: {
						required: true
					}
				},
				errorElement: "div",
				errorClass: "text-danger",
				submitHandler: (form) => {
					let alert = $('.alert', $(form));
					let button = $('button[type=submit]', $(form));
					let loading = $(".loading-form", $(form));
					alert.hide();
					button.hide();
					loading.show();
					ajaxSubmit(form, (json) => {
						if (!json['status']) {
							alert.html(json['error']['warning']);
							alert.show();
							button.show();
							loading.hide();
						} else {
							window.location = json['redirect'];
						}
					})
				}
			});

			$("#registerForm").validate({
				rules: {
					firstname: {
						required: true
					},
					lastname: {
						required: true
					},
					email: {
						required: true,
						email: true
					},
					password: {
						required: true
					},
					confirm: {
						equalTo: "#register-input-password"
					},
					"g-recaptcha-response":{
						required: true
					}
				},
				errorElement: "div",
				errorClass: "text-danger",
				submitHandler: (form) => {
					let alert = $('.alert', $(form));
					let button = $('button[type=submit]', $(form));
					let loading = $(".loading-form", $(form));
					alert.hide();
					button.hide();
					loading.show();
					ajaxSubmit(form, (json) => {
						if (!json['status']) {
							alert.html(json['error']['warning']);
							alert.show();
							button.show();
							loading.hide();
						} else {
							window.location = json['redirect'];
						}
					})
				}
			})

			$("#registerSMSForm").validate({
				rules: {
					telephone: {
						required: true
					},
					password: {
						required: true
					},
					confirm: {
						equalTo: "#input-password"
					}
				},
				errorElement: "div",
				errorClass: "text-danger",
				submitHandler: (form) => {
					let alert = $('.alert', $(form));
					let button = $('button[type=submit]', $(form));
					let loading = $(".loading-form", $(form));
					alert.hide();
					button.hide();
					loading.show();
					ajaxSubmit(form, (json) => {
						if (!json['status']) {
							alert.html(json['error']['warning']);
							alert.show();
							button.show();
							loading.hide();
						} else {
							window.location = json['redirect'];
						}
					})
				}
			})
		});

		function ajaxSubmit(form, callback = () => { }) {
			let values = $(form).serializeArray();
			let data = new FormData();
			let url = $(form).attr("action");

			values.forEach(value => {
				data.append(value['name'], value['value']);
			});

			data.append("redirect",window.location.href);

			fetch(url, {
				method: "POST",
				body: data
			}).then(res => res.json()).then(json => {
				callback(json);
			})
		}

		function createCookie(name,value,days) {
			if (days) {
				var date = new Date();
				date.setTime(date.getTime()+(days*24*60*60*1000));
				var expires = "; expires="+date.toUTCString();
			}
			else var expires = "";
			document.cookie = name+"="+value+expires+"; path=/";
		}

		function readCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
		}

		function eraseCookie(name) {
			createCookie(name,"",-1);
		}
	</script>
{% endif %}
