{{ header }}
    {{ column_left }} 
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                 <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
        
        <div class="container-fluid">
                
            {% if not curl_status %}
            <fieldset>
                <legend> {{ text_curl }} </legend>
                <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ text_disabled_curl }}</div>
                </fieldset>
           {% endif %}
                            
            <fieldset>
                <legend> {{ text_validation }} </legend>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_validate_store }}</div>
            {{ text_information_provide }} 
            <ul>
                <li>✓ Order ID : {order ID from hpwebdesign.id / opencart.com}</li>
                <li>✓ Email Order : {email used to perform order} </li>
                <li>✓ Store Domain <span>where this extension installed </span>: {1 store domain where this extension will be installed} </li>
            </ul>
            <a href="mailto:support@hpwebdesign.id?subject={{ heading_title2 }} Store Validation for {{ domain_name }}" class="btn btn-info">Contact Us</a>
         </fieldset>
        </div>
    </div>
{{ footer }}